/* Generic styles */

.container {
  margin-top: 200px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 900;
}

body {
  background-color: #F3D8A9;
  text-shadow: 2px 2px 0px #9e9e9e;
}

html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

h1{
  font-size: 70px;
}

a, a:visited, a:active, a:hover {
  color: white;
}

a {
  text-decoration: none;
}

/* Frontpage */

.social {
  font-size: 40px;
}

/* Portfolio */

.project a, .project p, .project img{
  max-width: 100%;
}

.infodiv{
  position: absolute;
  left: 30px;
  top: 80px;
  right: 30px;
  bottom: 20px;
  background: black;
  opacity: 0;
  transition: 0.5s;
  padding: 10px;
  font-size: 16px;
}

.infodiv:hover{
  opacity: 1;
  background: rgba(0, 0, 0, .75);

}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
